# =========================
# Compiled class files
# =========================
*.class

# =========================
# Logs
# =========================
*.log
logs/

# =========================
# Maven
# =========================
target/


# =========================
# Gradle
# =========================
.gradle/
build/

# =========================
# IntelliJ IDEA
# =========================
.idea/
*.iml
out/

# =========================


# =========================
# VS Code
# =========================
.vscode/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Test Reports
# =========================
test-output/
allure-results/
allure-report/

# =========================
# Environment & Secrets
# =========================
.env
config.properties
*.key
*.pem
/bin/
